<class ="header">
    <div style="text-align:center; margin: 2rem 0; background-color:aquamarine">
        <div>
            <h1>Skarea</h1>
        </div>
    
        <div>
                
            <a href = "https://datastudio.google.com/reporting/f3e1b92d-a047-4e00-9f3d-884df6ac0ada">
                <span>DashBoard</span>
            </a>
       
           <a href ="{{url_for('calculate')}}">
                <span>calculate</span>
            </a>
    
            <a href ="{{url_for('blank')}}">
                <span>blank</span>
            </a>
        
        </div>
    </div>
    </class>