<class ="header">
    <div style="text-align:center; font-size:1.5rem ;">
        
            <a href ="{{url_for('front')}}">
            <h1>Skarea</h1>
            </a>

            <button>      
            <a href = "https://datastudio.google.com/reporting/f3e1b92d-a047-4e00-9f3d-884df6ac0ada">
                <span>DashBoard</span>
            </a>
            </button>

            <button>  
            <a href ="{{url_for('calculate')}}">
                <span>calculate</span>
            </a>
            </button>

            <button>  
            <a href ="{{url_for('News')}}">
                <span>News</span>
            </a>
            </button>

        

    </div>
</class>