<class = "header" >
    <div style="text-align:center; margin: 2rem 0;">
        <div>
            <h1>Skarea</h1>
        </div>
    
        <div>
        
            <a href ="{{url_for('DashBoard')}}">
                <span>DashBoard</span>
            </a>
            
            <a href ="{{url_for('News')}}">
                <span>News</span>
            </a>
       
           <a href ="{{url_for('calculate')}}">
                <span>calculate</span>
            </a>
    
            <a href ="{{url_for('blank')}}">
                <span>blank</span>
            </a>
        
        </div>
    </div>
    </class>